/* 3-Column Section */
.text-column-img {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-bottom: 25px;
}

.text-column-img img {
    width: 100%;
    border-radius: 150px;
}

.text-column-3 h4 {
    text-align: center;
    text-decoration: underline;
    color: #d44b4b;
}

.text-column-3 .btn {
    padding: 10px 20px;
    background-color: #08176d;
    color: cornsilk;
}

.text-columns h1, .masonry-title {
    color: #08176d;
    text-align: center;
    font-size: 50px;
} 

/* Masonry Card Grid */
.card {
    transition: all .2s ease-in-out;
}

.card-pop:hover {
    transform: scale(1.05);
}

.masonry-title {
    color: #08176d;
}

#masonryImg1 img, #masonryImg3 img, #masonryImg5 img, #masonryImg9 img {
    width: 100%;
    height: auto;
}

#masonryImg2, #masonryImg4, #masonryImg6 {
    background-position: center;
    background-size: cover;
    background-repeat: none;
}

#masonryImg2 figure, #masonryImg6 figure {
    background-color: rgba(240, 248, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#masonryImg4 figure {
    background-color: rgba(64, 64, 65, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#masonryImg4 p, #masonryImg4 cite {
    color: aliceblue;
}


/* Responsive Medium Tablet Screens */
@media (min-width: 520px) {

}


/* Responsive Large Laptop Screens */
@media (min-width: 768px) {

}


/* Respsonsive Larger Desktop Screens */
@media (min-width: 960px) {

}