/* 3-Column Section */
.text-column-img {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 25px;
}

.text-column-img img {
    width: 100%;
    border-radius: 100px;
}

.text-column-3 h4 {
    text-align: center;
    text-decoration: underline;
    color: brown;
}

.text-column-3 .btn {
    padding: 10px 20px;
    background-color: rgb(9, 18, 68);
    color: cornsilk;
}

/* Masonry Card Grid */
.card {
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.masonry-title {
    color: rgb(9, 18, 68);
}

/* Responsive Medium Tablet Screens */
@media (min-width: 520px) {

}


/* Responsive Large Laptop Screens */
@media (min-width: 768px) {

}


/* Respsonsive Larger Desktop Screens */
@media (min-width: 960px) {

}