/* Jumbotron */
.jumbotron {
    height: 400px;
}

section.jumbotron-fluid {
    width: 100%;
    background-size: cover;
    background-position: center;
}

.bg-transparent {
    color: rgb(4, 133, 255);
    text-shadow: 5px 5px 8px #ccd3ff;
}

/* Modal */
.btn-subscribe {
    background-color: #d44b4b;
}

.modal h2 {
    color: #d44b4b;
}