.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

.dropdown-item {
    font-size: 20px;
}

.nav-dropdown {
    margin-left: 15px;
}

nav .navbar-brand img {
    max-width: 70px;
    padding: 10px 0px;
}

footer nav .nav .nav-item img {
    max-height: 20px;
}

.navbar ul li {
    padding-left: 30px;
}

.active {
    font-weight: bold;
}

.navbar, footer {
    background-color: #091244;
    width: 100%;
}

.nav-dropdown {
    background-color: #091244;
}


/* Responsive Medium Tablet Screens */
@media (min-width: 520px) {

}


/* Responsive Large Laptop Screens */
@media (min-width: 768px) {

}


/* Respsonsive Larger Desktop Screens */
@media (min-width: 960px) {

}