.jumbo-about {
    height: 300px;
}

.about-textbox {
    max-width: 700px;
}

.about-textbox h1 {
    color: brown;
    padding-bottom: 15px;
}

.about-textbox p {
    color: #091244;
    padding-bottom: 20px;
    line-height: 26px;
    text-align: justify;
}