.text-column-img {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 25px;
}

.text-column-img img {
    width: 100%;
    border-radius: 100px;
}

.text-column-3 h2, p {
    text-align: center;
}

.text-column-3 h2 {
    color: brown;
}

.text-column-3 .btn {
    padding: 10px 20px;
    background-color: #091244;
    color: cornsilk;
}