.nav-item a {
    font-family: 'Montserrat', sans-serif;
}

nav .navbar-brand img {
    max-width: 45px;
}

footer nav .nav .nav-item img {
    max-height: 20px;
}

.form-inline, .navbar ul li {
    padding-left: 20px;
}

.active {
    font-weight: bold;
}

.navbar-toggler {
    border-color: rgb(255,102,203);
}

.navbar, footer {
    background-color: #091244;
}