.carousel {
    margin-top: 56px;
}

.carousel-image {
    background-position: center;
    background-size: cover;
    height: 500px;
}

.featurette-team {
    margin-top: 150px;
}

.featurette-title {
    font-weight: 600;
    color: brown;
    padding-bottom: 100px;
}

.featurette h2 {
    color: #091244;
}

.featurette img {
    width: 100%;
    border-radius: 20%;
}

hr.featurette-divider {
    border-top: 1px solid brown;
}