.starwars-box {
    height: 15vh;
    width: auto;
    position: absolute;
    animation-timing-function: ease-in-out;
}

.sw-img {
    height: 100%;
    padding: 20px 50px;
}

#imgSW1, #imgSW3 {
    left: -100%;
    animation-name: moveToRight;
    animation-fill-mode: forwards;
}

#imgSW2, #imgSW4 {
    right: -100%;
    animation-name: moveToLeft;
    animation-fill-mode: forwards;
}

#imgSW1 {
    top: 10vh;
    animation-duration: 2000ms;
}

#imgSW2 {
    top: 30vh;
    animation-duration: 2000ms;
    animation-delay: 800ms;
}

#imgSW3 {
    top: 50vh;
    animation-duration: 2000ms;
    animation-delay: 1600ms;
}

#imgSW4 {
    top: 65vh;
    animation-duration: 2000ms;
    animation-delay: 2400ms;

}

@keyframes moveToRight {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes moveToLeft {
    from {
        right: -100%;
    }

    to {
        right: 0;
    }
}

@media(min-width: 800px) {
    #imgSW2 {
        padding-right: 100px;
    }
    
    #imgSW3 {
        padding-left: 200px; 
    }
    
    #imgSW4 {
        padding-right: 300px;
    }
};

